<div class="row">
	<div class="navbar navbar-default">
		<div class="navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Главная</a></li>
				<li><a href="/item/add">Добавить товар</a></li>
			</ul>
			<div class="pull-right cart">
					<span><a href="/cart">Корзина</a> - </span>
					 <span id="countItems">
						{% if session.Gcount >0 %}
							 {{session.Gcount}} 
							 	{% if (session.Gcount%10 == 1) and (session.Gcount%10 != 11)%}
							 		товар
							 	{% elseif  (session.Gcount%10 >=2) and (session.Gcount%10 <=4) and ((session.Gcount <5) or ((session.Gcount >14))) %}
							 		товара
							 	{% else %}
							 		товаров
							 	{% endif %}
							 	
						{% else %}
							пуста
						{% endif %}
					</span>
			</div>	
		</div>
	
	</div>
	
</div>